# General patterns
*~
*.gkyl
*.json
*#
*.o
*.a
*.so
*.dylib
*.pyc
*.sw*
*.log
.DS_Store
.nfs*

# Build directories and Waf files
/build/
build-*/*
.waf*
.lock-waf*

# Ignore binary files
bin/*

# If specific test files need to be excluded
test_output/*

# Ignoring dependency directories
/install-deps/*
/dep_src/
/gkylzero/
/adios2*
/luajit*
/openmpi*
/superlu*

# Specific ignored files and directories
Unit/*.bp
Regression/runregression.config.lua
Regression/*/*.bp
Benchmarks/*/*.bp
runregression.config.lua
waf_tools/__pycache__/